@main("Главная") {
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Аутентификация</h2>
            <p>Используется распространенный сценарий аутентификации по паролю. В качестве логина используется адрес электронной почты.</p>
        </div>
        <div class="col-md-4">
            <h2>Безопасность</h2>
            <p>Пароли хранятся безопасно. Используются криптостойкие алгоритмы хэширования пароля с солью, что минимизирует опасность brute-force атаки и атаки с помощью радужных таблиц.</p>
        </div>
        <div class="col-md-4">
            <h2>Функциональность</h2>
            <p>Реализованы следующие сценарии:
                <ul>
                    <li>регистрация</li>
                    <li>аутентификация</li>
                    <li>выход</li>
                    <li>смена пароля</li>
                </ul>
            </p>
        </div>
    </div>
}
