@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
            <!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Secured</a>
                </div>


                <div id="navbar" class="navbar-collapse collapse">
                @if(Auth.currentUserEmail() != null) {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Auth.currentUserEmail() <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.Admin.profile()">Профиль</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@routes.Auth.logout()">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                } else {
                    <form class="navbar-form navbar-right" action="@routes.Auth.auth()" method="POST">
                        <div class="form-group">
                            <input name="email" type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="Пароль" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Войти</button>
                    </form>
                }
                </div>

                    <!--/.navbar-collapse -->
            </div>
        </nav>
            <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Secured</h1>
                <p>Это демо-приложение реализовывает основные сценарии аутентификации в PlayFramework 2. Реализовывается идентификация по электронной почте, аутентификация по паролю, хэшированному с солью, изменение пароля.</p>
                <p><a class="btn btn-primary btn-lg" href="@routes.Admin.profile()" role="button">Профиль &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            @if(flash().get("success") != null) {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">x</a>
                    @flash().get("success")
                </div>
            }
            @content

            <hr>
            <footer>
                <p>Demo project</p>
            </footer>
        </div> <!-- /container -->
    </body>
</html>
